.features {
	margin-top: -110px;
	margin-bottom: 110px;

	background-color: transparent;
}

.features__list {
	@include list-reset;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features__item {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	flex-basis: 300px;
	box-sizing: border-box;

	padding: 10px;
	border-radius: 10px;

	text-align: center;

	background-color: #fff;
	box-shadow: 20px 20px 57px 0px rgba(201, 182, 141, 0.4);
}

.features__item-wrapper {
	position: relative;
	width: 100%;
	padding: 60px 20px 40px;
	background-image: url(../img/path.png);
	background-repeat: no-repeat;
	background-position: center;

	border-radius: 10px;
}

.features-item__title {
	display: block;
	margin-bottom: 5px;

	font-family: 'montserratsemibold';
	font-size: 62px;
	line-height: 64px;
	color: $gold;
}

.features-item__title-description {
	display: block;
	margin-bottom: 15px;

	font-family: 'montserratsemibold';
	font-size: 20px;
	line-height: 22px;
}

.features-item__description {
	margin: 0;

	font-size: 20px;
	line-height: 30px;
}

.features__item-wrapper::before {
	display: none;
}

@media (max-width: $desktopLarge-width) {
	.features__list {
		justify-content: space-around;
	}
}

@media (max-width: $desktop-width) {
	.features__list {
		justify-content: center;
	}

	.features__item {
		margin: 0 10px;
		margin-bottom: 30px;
	}
}

@media (max-width: $tabletLarge-width) {
	.features {
		margin-left: 100px;
		margin-right: 100px;
	}

	.features__list {
		justify-content: space-around;
	}
}

@media (max-width: $tablet-width) {
	.features {
		margin: -110px 0 50px;
	}

	.features__item {
		margin-left: 0;
		margin-right: 0; 
	}
}